:root {
  /*
  ILIAS blau: rgb(0,60,101)
  CaT blau: rgb(0,155,234)
  */
  --color-1: rgb(0,60,100);
  --color-2: rgb(255, 176, 16); /* #fcc200 #f4ca16 */
  --color-3: rgb(0,155,234);
  --color-1-50: rgba(0,60,101,0.5);
  --color-21:rgb(225, 181, 76);
  --color-22: rgb(190, 143, 71); /*ocker*/
}

h1,h2,h3,h4,h5,h6 { color: var(--color-1); font-weight:700; }

h2 {
  font-size: 2.2em;
  line-height: 1.2em;
}

ul li { color: var(--color-1); font-weight:400; }

.scroll-area {height: 100vh; margin-top:0;}

.einfach-ilias-logo {
  margin-left: -5px;
  margin-bottom: 40px;
  img {
    height: auto;
    filter: drop-shadow(0 0 100px rgba(255, 255, 255, .5));
    margin-top: 10px;
    width: 150px;
  }
}

.banner.ilias {
  height: 115vh;
  padding: 90px 0 60px;
  text-align: left;
}

.banner.ilias.intro {
  height: 100vh;
  padding: 0;
}

.section-offset-top {
  margin-top: -15vh;
}

.banner.ilias,
.bg-cat-ilias {
  background: rgb(0,60,101);
  background: linear-gradient(148deg, var(--color-1) 30%, var(--color-3) 80%);
  animation: none;
  h1,h2,p {
    color: var(--text-color-invert);
  }
}

.bg-cat-ilias {
  background: linear-gradient(148deg, var(--color-3) 0%, var(--color-1) 100%);
}

.bg-1 {
  background: linear-gradient(148deg, #f2f2f2 0%, #dddddd 100%);
}

.bg-2 {
  background-color: var(--color-2);
}


/* img styles */
img.handshake {
  width: 70vw;
  opacity: 1;
  max-width: 760px;
  filter: drop-shadow(50px 50px 30px rgba(0,0,0,.1));
}

.section-icon {
  opacity: .2;
  max-width: 20em;
  &.invert {
    filter: invert(1);
  }
}

/* buttons */
input[type="submit"] {
  background: linear-gradient(148deg, var(--color-3) 0%, var(--color-1) 100%);
  transition: all .4s ease; 
  &:hover {
    background: linear-gradient(148deg, var(--color-1) 0%, var(--color-3) 100%); 
  }
}

/* accordion*/
.tab {
  border-radius: var(--border-radius-xs);
  margin-bottom: 10px;
}
.tab-label {
  box-shadow: inset 0 0 0.01 var(--color-2);
  color: var(--color-1);
  font-size: 19px;
  padding: 1em 4em 1em 1.6em;
  line-height: 30px;
  &:hover {
      box-shadow: inset 900px 0 0 var(--color-2);
  }
  &:after {
    transform:rotate(310deg);
  }
}

.tab-label, .tab-content p {font-weight:300;}

.tab-content p {font-size:1.06em;}

footer ul {
  margin: 0 0 1em 0;
  li {
    color: var(--text-color-invert);
    font-weight: 200;
  }
}


