@use '../01_abstracts' as *;


// bg-colors

.bg,
.bg-main {
  background: $bg-main;

  &.lightgray,
  &.secondary {
    background: $bg-secondary;
  }

  &.darkgray {
    background-color: $darkgray;
  }

  &.offset-darkgray {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(68,68,68,1) 0%, rgba(68,68,68,1) 80%, rgba(255,255,255,1) 80%);
    padding-bottom: 30px;
  }

  &.color-1 {
    background-color: $color-1;
  }

  &.color-2 {
    background-color: $color-2;
  }

  &.color-3 {
    background-color: $color-3;
  }

  &.color-4 {
    background-color: $color-4;
  }
}

//.contact-bg-icon 
.contact:before {
    background-color: white;
    content: "\e972";
    font-family: "cat-icons";
    font-size: 4.7rem;
    color: #555;
    width: 250px;
    height: 200px;
    display: flex;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    margin: -170px 43%;
    position: absolute;
}