{{ include('page_head.html') }}

<section id="content-area" class="cs-consulting"> <!-- sets color-scheme -->

    {{ attribute(_context.sections.story, "consulting_story004.html")|raw }}

</section>

{{ include('footer.html') }}
{{ include('page_footer.html') }}

