{{ include('page_head.html') }}

    <section id="media-head">
        <div class="cinescope">
            <div class="media-overlay flex col centerY left">
                <!-- Overlay Text 
                <h4 class="font-bg white"><span>Das Studioformat<span></h4>
                <h1 class="font-bg gray"><span>Digitale Trainings als Fernsehshow<span></h1>
                -->
            </div>

            <!-- dimmer overlay -->
            <div class="dim"></div>
            
            <div class="video-player video-wrapper">
                <!-- CaT Imagefilm short rEoNebMTyNE--> 
                <iframe src="https://www.youtube.com/embed/wJXeiQdLVLQ?playlist=wJXeiQdLVLQ&controls=0&mute=1&autoplay=1&loop=1" allow="autoplay; fullscreen;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true" title="CAT Imageclip"></iframe>
            </div>
        </div>
    </section> 

    <section id="text">
        <div class="bg innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-12">
                            <div id="company" class="anchor-target"></div>
                            <h3>Das Studioformat</h3>
                            <h2>Digitale Trainings als Fernsehshow</h2>
                        </div>
                        <!-- col 1 -->
                        <div class="col-sm-12 col-md-6">
                            <p>Ein virtuelles 3D-Studio im Zentrum des Geschehens: Darin steht eine Moderatorin, die auf bewegte Einspieler im Hintergrund zeigt, vielleicht Interviews gibt. Während sie spricht, fährt die Kamera langsam auf sie zu, bis schließlich, genau getimt, der Zoom ins Vollbild des Einspielers folgt – ein perfekter Übergang zur nächsten Inhaltsseite. In diesem Rahmen wird ein digitales Training fast zur Fernsehshow, ein komplexer Inhalt zur gut durchdachten Unterhaltung.</p>

                            <p>Das Studio im digitalen Training dient als Dreh- und Angelpunkt für zahlreiche Medienformate und didaktische Methoden. Es wird angepasst an das Unternehmens-CI und erlaubt so die höchstmögliche Identifikation mit dem Lernenden.</p>
                            <p><a href="index.html#stories" class="link">zur Übersicht</a></p>
                        </div>
        
                        <!-- col 2 -->
                        <div class="col-sm-12 col-md-6">
                            <p> Der Effekt: eine stärkere Lernbereitschaft und -ausdauer, mehr Wirksamkeit durch emotionales Erleben und eine hohe Weiterempfehlungsrate.</p>
                            <p>Bei diesem Format arbeiten wir Hand in Hand mit unseren Kunden, um ein möglichst authentisches (Lern-)Erlebnis zu erzielen. Das Studio ist vor allem bei den großen Produkt-Trainingsreihen unserer Kunden aus der Versicherungswirtschaft im Einsatz, die über das Lernmanagementsystem cate verwaltet werden. Versicherungen müssen Vermittlerrichtlinien einhalten und pro Jahr eine bestimmte Anzahl an Weiterbildungsstunden für ihre Mitarbeitenden gewährleisten. Das Studio im digitalen Training unterstützt dabei auf effektive Weise.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="image-slider">
        <div class="cardslider bg offset-darkgray hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-offset-2 col-lg-8">

                        <div class="swiper imageSwiper">
                            
                            <div class="swiper-wrapper">

                                <!-- card 1-->
                                <div class="swiper-slide">
                                    <a href="#">
                                        <div class="swiper-image" style="background-image: url('./images/studio001.jpg');"></div>
                                    </a>
                                </div>
                                <!-- card 2-->
                                <div class="swiper-slide">
                                    <a href="#">
                                        <div class="swiper-image" style="background-image: url('./images/studio003.jpg');"></div>
                                    </a>
                                </div>
                                <!-- card 3-->
                                <div class="swiper-slide">
                                    <a href="#">
                                        <div class="swiper-image" style="background-image: url('./images/studio002.jpg');"></div>
                                    </a>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ include('footer.html') }}

    <!-- swiper config -->
    <script>
        var swiper = new Swiper(".imageSwiper", {
            slidesPerView: 1,
            centeredSlides: true,
            spaceBetween: 10,
            slidesPerGroupSkip: 1,
            keyboard: {
                enabled: true,
            },
            breakpoints: {
                769: {
                slidesPerView: 1,
                slidesPerGroup: 1,
                },
                990: {
                slidesPerView: 1,
                slidesPerGroup: 1,
                },
            },
            scrollbar: {
                el: ".swiper-scrollbar",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: "true",
            },
        });

    </script>

{{ include('page_footer.html') }}

