{{ include('page_head.html') }}

<section id="content-area" class="cs-elearning"> <!-- sets color-scheme -->

    {{ attribute(_context.sections.story, "elearning-story005.html")|raw }}

</section>

{{ include('footer.html') }}
{{ include('page_footer.html') }}

