{{ include('page_head.html') }}

<section id="content-area" class="cs-lms"> <!-- sets color-scheme -->

    {{ attribute(_context.sections.story, "learning-management-story002.html")|raw }}

</section>

{{ include('footer.html') }}
{{ include('page_footer.html') }}

