{{ include('page_head.html') }}

    <section id="media-head">
        <div class="fullscreen">
            <div class="media-overlay flex col centerY left">
                <!-- Overlay Text -->
                <h4 class="font-bg white"><span>CaT Concepts and Training GmbH</span></h4>
                <h1 class="font-bg color-4"><span>Das Lernmanagement&shy;system cate</span></h1>
            </div>

            <!-- dimmer overlay -->
            <div class="dim"></div>
            
            <div class="media-wrapper media-bg right" style="background-image: url(images/bg-header-01.png);">
            <!--  <img src="images/cate001.png"> -->
            </div>
        </div>
    </section> 

    <section id="company">
        <div class="bg innerspace hero">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-12">
                            <div id="company" class="anchor-target"></div>
                            <h4>CaT Concepts and Training GmbH</h4>
                            <h2 class="color-4">Ihr Wegbegleiter im digitalen Bildungsmanagement</h2>
                        </div>
                        <!-- col 1 -->
                        <div class="col-sm-12 col-md-6">
                            <p>cate ist unser Lernmanagementsystem – entwickelt aus dem Kern des Open Source Lernmanagementsystem ILIAS, perfektioniert für die besonderen Ansprüche in Unternehmen. Einige der besonderen Gaben des Systems: die Verwaltung und Automatisierung von Pflichtschulungen, die Abbildung von Organisationsstrukturen, ein ausgefeiltes Rollen- und Rechtesystem und eine hohe Flexibilität, die es möglich macht, auch individuelle Szenarien umzusetzen.

                                </p>
                        </div>
        
                        <!-- col 2 -->
                        <div class="col-sm-12 col-md-6">
                            <p>cate bietet neben einem kompletten SaaS-Management den Vorteil der „Weisheit der Vielen“: gemeint ist die Sicherheit einer auf Qualität bedachten Community, die nicht nur rein kommerziellen Interessen folgt. Denn der Input einer großen Gemeinschaft von Entwicklern, die motiviert sind, die bestmögliche Software zu kreieren, führt zu einem überlegenen Produkt – auch für Ihr Unternehmen.</p>

                            <p>
                                <a href="http://cate-tms.de" target="_blank" class="link color-4">Besuchen Sie die cate-Website</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="story-slider">
        <div class="cardslider bg-offset-darkgray hero">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-slider swiper cardSwiper">
                            <div class="swiper-wrapper">
                                <!-- card 1-->
                                <a class="card-wrapper swiper-slide" href="#">
                                    <div class="card shadow">
                                        <div class="card-bg" style="background-image:url('images/cate001.png')"></div>

                                        <div class="card-content">
                                            <div class="card-info">
                                                <h5 class="font-bg white"><span>Pflichtschulungen</span></h5>
                                                <h3 class="font-bg color-4"><span>Die besondere Gabe von cate</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- card 2 -->
                                <a class="card-wrapper swiper-slide" href="#">
                                    <div class="card shadow">
                                        
                                        <div class="card-bg" style="background-image:url('images/code002.png')"></div>

                                        <div class="card-content">
                                            <div class="card-info">
                                                <h5 class="font-bg white"><span>Der Aufräumer</span></h5>
                                                <h3 class="font-bg color-4"><span>Über Chaos und Struktur im Code</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- card 3 -->
                                <a class="card-wrapper swiper-slide" href="#">
                                    <div class="card shadow">

                                        <div class="card-bg" style="background-image:url('images/itsecurity001.jpg')"></div>
                                        
                                        <div class="card-content">
                                            <div class="card-info">
                                                <h5 class="font-bg white"><span>IT-Security</span></h5>
                                                <h3 class="font-bg color-4"><span>Maximale Tranparenz – und viel Arbeit!</span></h3>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                                <!-- card 4 -->
                                <a class="card-wrapper swiper-slide" href="#">
                                    <div class="card shadow">
                                        <div class="card-bg" style="background-image:url('images/release001.jpg')"></div>

                                        <div class="card-content">
                                            <div class="card-info">
                                                <h5 class="font-bg white"><span>Releases</span></h5>
                                                <h3 class="font-bg color-4"><span>Eine Frage des Managements</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- card 5 -->
                                <a class="card-wrapper swiper-slide" href="#">
                                    <div class="card shadow">
                                        
                                        <div class="card-bg" style="background-image:url('images/introduction001.jpg')"></div>

                                        <div class="card-content">
                                            <div class="card-info">
                                                <h5 class="font-bg white"><span>Die Implementierung von cate</span></h5>
                                                <h3 class="font-bg color-4"><span>Wenn das System wirklich kommt</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- card 6 -->
                                <a class="card-wrapper swiper-slide" href="#">
                                    <div class="card shadow">

                                        <div class="card-bg" style="background-image:url('images/itsecurity001.jpg')"></div>
                                        
                                        <div class="card-content">
                                            <div class="card-info">
                                                <h5 class="font-bg white"><span>IT-Security</span></h5>
                                                <h3 class="font-bg color-4"><span>Maximale Tranparenz – und viel Arbeit!</span></h3>
                                            </div>
                                        </div>

                                    </div>
                                </a>

                            </div>

                            <!-- <div class="swiper-scrollbar"></div> -->
                            <div class="swiper-pagination"></div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    
{{ include('sections/index/contact.html')}}
{{ include('footer.html') }}

    <!-- swiper config -->
    <script>
        var swiper = new Swiper(".cardSwiper", {
            slidesPerView: 1,
            centeredSlides: false,
            spaceBetween: 20,
            slidesPerGroupSkip: 1,
            grabCursor: true,
            keyboard: {
                enabled: true,
            },
            breakpoints: {
                769: {
                slidesPerView: 2,
                slidesPerGroup: 1,
                },
                990: {
                slidesPerView: 3,
                slidesPerGroup: 1,
                },
            },
            scrollbar: {
                el: ".swiper-scrollbar",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
                dynamicBullets: "true",
            },
        });

    </script>

{{ include('page_footer.html') }}

