@use '../01_abstracts' as *;

// footer

footer {
    padding: 55px 0;
    font-weight: 300;
    font-size: 15px;
}

.footerblock {
    width: 100%;

    .contact-icon {
        filter: brightness(100);
    }
}

// social icons

.social-icon {
    margin-top: 5px;

    a {
        margin-right: 10px;
    }

    img {
        filter: invert(1);
        height: 22px;
    }
}
