@use '../01_abstracts/' as *;

// cards

.card-wrapper:hover .card-bg {
  transform: scale(1.03);
  transition: all .3s;
  filter: saturate(1);
}

.card {
  background-color: $bg-main;
  background-size: cover;
  border-radius: $border-radius-sm;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.card-bg {
  background-color: $bg-main;
  background-position-x: center;
  background-size: cover;
  box-shadow: inset 0 0 100px 70px rgba(0,0,0,.3);
  height: 100%;
  position: absolute;
  filter: saturate(0.7) blur(2px);
  transform: scale(1.2);
  width: 100%;
  z-index: 1;
}

.card.shadow {
  box-shadow: 0 0 3px rgba(50,50,50,0);
}

.card-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.card-img {
  height: 180px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
}

.card_off {
  background: $bg-main;
  box-shadow: 0px 1px 2px silver;
  color: $text-color;
  padding: 40px;
  margin: 5px;
}

/* card-slider demo nav */
.card-slider {
  position: relative;
}

.card-slider .page-nav {
  position: absolute;
  top: 50%;
  z-index: 3;
}

.card-slider .page-nav.back {
  left: 20px;
}

.card-slider .page-nav.forward {
  right: 20px;
}

// typo effect 
// separate headlines from bg
h5.font-bg span {
  box-shadow: 50px 50px 100px black;
}