@use '../01_abstracts/' as *;

// links

.anchor {
  margin-bottom: 50px;
}

.anchor a,
.anchor a:hover {
  color: $color-1;
  position: relative;
  text-align: left;
}

.anchor a,
.anchor a:hover,
.anchor a.invert,
.anchor a.invert:hover {
  background: none;
}

.anchor a:hover,
.anchor a:hover:after,
.anchor a.invert:hover,
.anchor a.invert:hover:after {
  transform: scale(1.3);
  transition: all .4s;
}

.anchor a:after {
  color: $color-1;
  content: "\ea43"; /*circle arrow */
  content: "\e908"; /* arrow */
  font-family: 'cat-icons';
  font-size: 26px;
  position: absolute;
  left: 43%;
  top: 21px;
  transition: all .4s;
}

.anchor a.invert,
.anchor a.invert:after {
  color: $text-color-invert; 
}

/* invisible div-class for jumping to target anchor */
.anchor-target {
  visibility: hidden; 
  height: 0px !important; 
  position: absolute; 
  margin: -100px;
}

/* links with icons */

.link {
  display: flex;
}

.link:before {
  content: "\e922";
  font-family: 'cat-icons'; 
  font-size: 2rem;
  padding-right: 5px;
}
