// color settings
$color-1: #009bea;
$color-2: #c1d31c;
$color-3: #89d37e;
$color-4: #ce1970;
$color-5: #faae1d;
$color-6: #4a154b;
$bg-color: #ffffff;
$bg-color-1: #f4f4f4;
$bg-color-2: $color-2;
$bg-dark-blue: #1A1D2D;
$darkgray: #444;
$bg-footer: #555;