@use '../abstracts' as *;

// menue and brand

header, .header {
    background: rgba(70, 70, 70, 0);
    position: fixed; /* fix for scrolling behaviour ".scroll-area" */ 
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    top: 0;
    z-index: 999;
}

header {
    box-shadow: 0 0 10px rgba(0,0,0,0);
    position: fixed;
	width: 100%;
	box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, 0);
}

.header.active {
    top: -155px;
}

header.sticky, .header.sticky {
    background: rgba(255, 255, 255, 0);
}

.logo {
    position: absolute;
    right: 40px;
    top: 20px;
}

.logo a:after {
    background: $color-1;
    box-shadow: 5px 5px 10px rgba(0,0,0,.2);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    content: "\e93d";
    font-family: 'cat-icons';
    font-size: 21px;
    display: flex;
    position: absolute;
    right: 0;
    top: 106vh;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    transition: all .3s;
}

.logo a:hover:after {
    transform: scale(1.2);
}


.logo img {
    height: 105px;
    padding: 10px 0;
}

.logo-bg {
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 0 150px rgba(0,0,0,.5);
    border-radius: 100%;
    float: none;
    position: absolute;
    top: -1418px;
    right: -790px;
    height: 1500px;
    width: 1500px;
}

.header .nav-collapse {
    opacity: 0;
}

.header:hover .nav-collapse {
    opacity: 1;
    transition: all 3s;
}

.nav-collapse a:active,
.nav-collapse .active a {
    color:$color-3;
}

nav.nav-collapse,
nav.nav-collapse ul {
    justify-content: flex-end;
    margin-right: 10px;
}

nav.nav-collapse ul {
    display: flex;
    align-items: center;
}

nav ul li a    {
	font-size: 1em;
	font-weight: 400;
	padding: 0;
	color: $text-color-invert;
}

nav ul li a:hover {
	color: $color-3;
	transition: all 0.5s;
}

/* contact Highlight */
nav.nav-collapse ul li:last-child a {
    background: $color-4;
    color: $text-color-invert;
    border-radius: $border-radius-xl;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    font-weight: 300;
    padding: 5px 40px;
    text-align: center;
}

nav.nav-collapse ul li:last-child:hover a {
    background: $color-2;
}

/* 
****************************************
    MENU STYLES RESPONSIV
****************************************
*/

.nav-toggle:before {
    color: $text-color-invert; /* Edit this to change the Hamburger icon color */
}

.page-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 1000;
}

.page-nav {
    background-color: rgba(50,50,50,.6);
    border-radius: $border-radius-sm;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    height: 60px;
    width: 60px;
}

.page-nav:hover {
    background-color: rgba(50,50,50,.9);
    transition: all .5s;
}

.page-nav.forward {
    transform: rotate(270deg);
}

.page-nav.back {
    transform: rotate(90deg);
}

.page-nav.up {
    transform: rotate(180deg);
}