// font-import

// Nunito
@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-200.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-200.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-300.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-300.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-regular.woff') format('woff');
	src:	url('../fonts/Nunito_Sans//nunito-sans-v6-latin-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-600.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-600.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-700.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-900.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-900.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}


/* cat iconfont integration */
@font-face {
  font-family: 'cat-icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cat/cat-icons.eot");
  src: url("../fonts/cat/cat-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/cat/cat-icons.woff") format("woff"), url("../fonts/cat/cat-icons.ttf") format("truetype"), url("../fonts/cat/cat-icons.svg#cat") format("svg");
}

.iconfont, i {
  font-family: 'cat-icons', sans-serif;
  font-style:normal;
}