@use '../01_abstracts/' as *;

$floating-btn-size: 55px;
$floating-element-size: 40px;

//
// https://codepen.io/Gogh/pen/XzrNZd
//

@-webkit-keyframes come-in {
    0% {
      -webkit-transform: translatey(100px);
              transform: translatey(100px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translateX(-50px) scale(0.4);
              transform: translateX(-50px) scale(0.4);
    }
    70% {
      -webkit-transform: translateX(0px) scale(1.2);
              transform: translateX(0px) scale(1.2);
    }
    100% {
      -webkit-transform: translatey(0px) scale(1);
              transform: translatey(0px) scale(1);
      opacity: 1;
    }
  }
  @keyframes come-in {
    0% {
      -webkit-transform: translatey(100px);
              transform: translatey(100px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translateX(-50px) scale(0.4);
              transform: translateX(-50px) scale(0.4);
    }
    70% {
      -webkit-transform: translateX(0px) scale(1.2);
              transform: translateX(0px) scale(1.2);
    }
    100% {
      -webkit-transform: translatey(0px) scale(1);
              transform: translatey(0px) scale(1);
      opacity: 1;
    }
  }

.floating-action-nav {
  position: fixed;
  width: 50px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 25px;
}

input[type="checkbox"] {
  display: none;
}
  
input:checked ~ .floating-container {
  height: 240px;
  width: 180px;
}

.floating-button {
  position: absolute;
  width: $floating-btn-size;
  height: $floating-btn-size;
  background: $floating-action-btn;
  bottom: 0;
  border-radius: 50%;
  right: 0;
  color: white;
  line-height: $floating-btn-size;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: -15px 15px 30px rgba(0,0,0,0.3);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  // home icon
  &:after {
      content: "\e90e";
      font-family: 'cat-icons';
      font-size: 1.9rem;
      color: #fff;
      transform: all .5s;
  }
}

input:checked + .floating-button:after {
  content: "\e978";
  font-size: 1.5rem;
}


.floating-container {
    position: fixed;
    width: 50px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 25px;
}

input:checked ~ .floating-container .floating-button {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    -webkit-transform: translatey(5px);
            transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
input:checked ~ .floating-container .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
            animation: come-in 0.4s forwards 0.2s;
}
input:checked ~ .floating-container .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
            animation: come-in 0.4s forwards 0.4s;
}
input:checked ~ .floating-container .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
            animation: come-in 0.4s forwards 0.6s;
}

.element-container {
  position: absolute;
  right:10px;
}

.floating-container {

  .floating-button {
    display: none;
  }

  .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: $floating-element-size;
    height: $floating-element-size;
    margin: 15px 0;
    color: white;
    font-weight: 500;
    line-height: $floating-element-size;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);

    &:hover {
        transform: scale(1.1);
    }

    .bullet-icon {
      border-radius: 30px;
      display: block;
      position: absolute;
      width: $floating-element-size;
      height: $floating-element-size;
      right: 0;
    }

    &:nth-child(1) {
      right: 10px;
      .bullet-icon {
        background: $color-4;
      }
    }

    &:nth-child(2) {
      right: 30px;
      .bullet-icon {
        background: $color-1;
      }
    }

    &:nth-child(3) {
      right: 10px;
      .bullet-icon {
        background: $color-2;
      }
    }

    .label {
      background-color: rgba(255,255,255,0.5);
      box-shadow: 0 20px 20px -13px rgba(0,0,0,0.2);
      padding: 0 50px 0 20px;
      border-radius: 25px;
      vertical-align: middle;
      font-size: 0.85rem;
      position: absolute;
      right: 0;
      color: $text-color;
    }
  }
}