@use '../01_abstracts/' as *;

// swiper

.swiper-slide {
  padding: 40px 0;
}

.swiper-image{
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 450px;
}
/* nav btns */

/* position outside swiper container */
.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(150,150,150,.3);
  border-radius: $border-radius-sm;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  height: 50px;
  width: 50px;
  transition: all .5s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgba(50,50,50,.9);
}

.swiper-button-next:after,
.swiper-button-prev:after{
  content: "\e928";
  font-family: 'cat-icons'; 
  font-size: 1.5rem;
  transform: rotate(270deg);
}

.swiper-button-prev:after{
  transform: rotate(90deg);
}

.swiper-pagination-bullet {
  background: $bg-main;
  opacity: .5;
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet-active {
  background: $bg-main;
  opacity: 1;
}

// logo slider

.ref-logo {
    margin: 1.5em;
    display: flex;
    align-items: end;
    padding: 50px 20px;
    box-shadow: 0 0px 10px rgba(140,140,140,.1);
    background: #fff;
    border-radius: $border-radius-sm;
}

.ref-logo a {
  margin: auto;
}

.ref-logo img {
  height: 34px;
}
